@tailwind base;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind components;
@tailwind utilities;

/* https://stackoverflow.com/a/65134135 */
@layer base {
  a {
    @apply underline text-blue-700 dark:text-blue-400;
  }

  input, textarea {
    @apply bg-slate-50;
  }

  h1, h2, h3, h4 {
    @apply dark:text-slate-100;
  }
}
